<h1>You have logged in to the page successfully.....!!</h1>

<img src="https://homepages.cae.wisc.edu/~ece533/images/pool.png">

<div class="choices">
    <a href="/register">Register</a><br>
    <a href="/login">Login</a><br>
    <a href="/logout">Logout</a><br>
</div