<h1>This is a login page</h1>


<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <button class="btn btn-md-primary">SUBMIT</button>
</form>

<div class="choices">
    <a href="/register">Register</a><br>
    <a href="/login">Login</a><br>
    <a href="/logout">Logout</a><br>
</div>