<h1>This is a registration page...!!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button class="btn btn-md-danger">SUBMIT!!</button>
</form>

<div class="choices">
    <a href="/register">Register</a><br>
    <a href="/login">Login</a><br>
    <a href="/logout">Logout</a><br>
</div>